<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Favicon Generator</title>
  </head>
  <body>
    <h1>Create Your Custom ASCII Favicon</h1>
    <form action="/" method="post">
      <label for="text">Text:</label>
      <input
        type="text"
        id="text"
        name="text"
        value=""
        maxlength="2"
      /><br /><br />

      <label for="text_color">Text Color:</label>
      <input
        type="color"
        id="text_color"
        name="text_color"
        value="#FFFFFF"
      /><br /><br />

      <label for="background_color">Background Color:</label>
      <input
        type="color"
        id="background_color"
        name="background_color"
        value="#000000"
      /><br /><br />

      <input type="submit" value="Generate Favicon" />
    </form>
  </body>
</html>
